@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(230, 223, 223);
  --second-color: #c9c2c2;
}
* {
  scroll-behavior: smooth;
}
/* Firefox */
* {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@font-face {
  font-family: "NotoSansGeorgian";
  src: url("/fonts/Noto_Sans_Georgian/NotoSansGeorgian-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "Montserrat_thin";
  src: url("/fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: "Montserrat_regular";
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat_semibold";
  src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplaySC-Bold.ttf");
}

h3 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}

h4 {
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem;
  margin-right: 0rem;
  font-size: 1.2rem;
  font-family: "Montserrat_regular";
  transition: 0s;
}

@media (max-width: 1280px) {
  h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media (max-width: 640px) {
  h3 {
    font-size: 2.1rem;
    line-height: 1.75rem;
    padding-right: 4rem;
  }
  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-right: 4rem;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
