@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(230, 223, 223);
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

//serif modular
@font-face {
  font-family: "NotoSansGeorgian";
  src: url("/fonts/Noto_Sans_Georgian/NotoSansGeorgian-VariableFont_wdth,wght.ttf");
}

//sans-serif
@font-face {
  font-family: "Montserrat_thin";
  src: url("/fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: "Montserrat_regular";
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat_semibold";
  src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

h1 {
  font-size: 3rem;
  will-change: transform;
  font-family: "Abril_Fatface", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
