@import "./global.scss";

.SkillsPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.SkillsRelativePage {
  position: relative;
  height: 110vh;
  width: 100vw;
  background-color: #edd06f;
  padding: 5rem 0 0 5rem;

  h2 {
    word-spacing: 0.2rem;
    font-size: 1.9rem;
    font-family: "Montserrat";
    width: 60%;
    line-height: 3rem;
  }
}

.containerSkill {
  display: flex;
  width: 60%;
  padding: 1rem;
  margin-top: 2rem;

  margin-left: 50px;
  position: relative;
  margin-bottom: 200px;

  h3 {
    word-spacing: 0.2rem;
    font-size: 1.3rem;
    font-family: "Montserrat";
    line-height: 3rem;
  }

  p {
    margin: 1rem;
    font-size: 1.3rem;
    font-family: "Montserrat";
    line-height: 2rem;
  }
}

.testcontainerskillsRightLine {
  position: absolute;
  content: "";
  right: 0;
  top: 20%;
  width: 1px;
  background-color: black;
}

.rightAnimation {
  animation: fillVertical forwards;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes fillVertical {
  from {
    height: 0%;
  }
  to {
    height: 80%;
  }
}

.testcontainerskillsBottomLine {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  height: 1px;

  background-color: black;
}

.bottomanimation {
  animation: fillHoryzontal forwards;
  animation-duration: 1s;
  animation-delay: 2s;
}

@keyframes fillHoryzontal {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
